.mapa{
	position: relative;
	.text-map{
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    justify-content: space-between;
	}
	p{
		padding: 20px;
		margin-bottom: 0;
		span{
			display: block;
		    word-break: break-word
		}
		&.top{
			font-size: 40px;
			line-height: 40px;
		}
		&.bottom{
			position: relative;
			&:last-child{
				&:after{
					content: "";
					display: block;
					position: absolute;
					height: 3px;
					width: 50px;
					bottom: 15px;
					left: 20px;
					background:$colorSecundario;
				}
			}
		}
	}
	&:after{
		content: "";
		display: none;
		position: absolute;
		bottom: 30px;
		right: 30px;
		width: 50px;
		height: 70px;
		background: $colorSecundario;
		@media only screen and (min-width: 768px){
			display: block;
		}
	}
}