.banner{
	background: url('../img/banner_portada.jpg') no-repeat center top/ cover;
	min-height: 100vh;
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
	@media only screen and (min-width: 992px){
		padding-top: 0px;
		padding-bottom: 0px;	
	}
	h2{
		font-size: 20px;
		@media only screen and (min-width: 768px){
			font-size: 30px;
		}
	}
	p{
		font-size: 15px;
		@media only screen and (min-width: 768px){
			font-size: 17px;
		}	
	}
	.text-form-bn{
		padding-bottom: 0;
	}
	&:before{
		content: "";
	    width: 100px;
	    height: 83px;
	    top: 0px;
	    right: 30px;
	    background: url(../img/sector.png) no-repeat center center/contain;
		display: block;
		position: absolute;
		@media only screen and (min-width: 768px){
			width: 200px;
			height: 114px;
			top: 30px;
			left: 30px;
			right: inherit;
			background: url('../img/sector.png') no-repeat center center/ contain;
		}
	}
	&:after{
		display: none;
		@media only screen and (min-width: 768px){
			content: "";
			display: block;
			width: 100%;
			max-width: 400px;
			height: 800px;
			position: absolute;
			bottom: -200px;
			left: 0px;
			background: url('../img/personas.png') no-repeat left bottom/ contain;
		}
		@media only screen and (min-width: 992px){
			background: url('../img/personas.png') no-repeat center bottom/ contain;
		}
	}
	#conversion-proyecto-galicia-a946225ebf306e3b256b{
		background-color: transparent !important;
	}
	#conversion-proyecto-galicia-a946225ebf306e3b256b div.actions .call_button{
	    font-size: 15px !important;
	    display: inline-block !important;
	    width: auto !important;
	    color: white !important;
	    font-weight: 400 !important;
	    border-radius: 2px !important;
	    padding: 10px !important;
	}
	#conversion-proyecto-galicia-a946225ebf306e3b256b section div.actions{
		text-align: left !important;
	}
	#conversion-proyecto-galicia-a946225ebf306e3b256b form input{
		border-color: rgba(0,0,0,.1) !important;
    	border-radius: 2px !important;
    	padding: 20px !important;
	}
}
.form{
	min-height: 100vh;
	display: flex;
	align-items: center;
}
#conversion-proyecto-galicia-a946225ebf306e3b256b form p.notice{
	color: $gris;
}
 .form-banner{
 	font-size: 110%;
 	width: auto;
 	margin: 0 auto;
 	font-size: 110%;
 	max-width: 500px;
 	border-radius: 5px;
 	background: rgba(255,255,255,0.8);
 }
.text-banner{
	padding-top: 50px;
	padding-bottom: 30px;
	.logo-mobile{
	    background: #fff;
	    text-align: center;
	    border-radius: 50%;
	    padding: 30px 0;
	    width: 100%;
	    position: relative;
	    margin: -100px auto 0;
	    max-width: 350px;
		img{
			max-width: 130px;
		}
		@media only screen and (min-width: 768px){
			display: none;
		}
	}
	p{
		font-size: 25px;
		@media only screen and (min-width: 768px){
			margin-bottom: 0;
			font-size: 40px;
			line-height: 50px;
			font-weight: 400;
		}
		span{
			font-weight: 600;
		}
		&:first-child{
			padding-left: 40px;
			position: relative;
			display: block;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top:50%;
				transform: translateY(-50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7.5px 0 7.5px 12px;
				border-color: transparent transparent transparent $colorPrincipal;
			}
		}
		&:first-child,&:last-child{
			font-size: 20px;
			line-height: 14px;
			@media only screen and (min-width: 768px){
				font-size: 26px;
				line-height: 24px;
			}
		}
	}
}
.text-maquina{
	padding-right: 30px;
	background: url('../img/triangle.jpg') no-repeat 95% 50% / 25px;
	@media only screen and (min-width: 768px){
		padding-right: 60px;
		background: url('../img/triangle.jpg') no-repeat 95% 50% / 50px;
	}	
}