$colorPrincipal: #60294C;
$colorSecundario: #C7A89A;
$gris: #707070;
$grisSecundario: #DEDBDB;

body{
	color: $gris;
}
.color{
	&-prin{
		color: $colorPrincipal;
	}
	&-secu{
		color: $colorSecundario;
	}
	&-gris{
		color:$gris;
	}
	&-white{
		color:white;
	}
}
.bg{
	&-prin{
		background: $colorPrincipal;
	}
	&-secu{
		background: $colorSecundario;
	}
}

.video-responsive {
	width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}