.mapa{
	position: relative;
	.text-map{
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    justify-content: space-between;
	}
	p{
		padding: 20px;
		margin-bottom: 0;
		span{
			display: block;
		}
		&.top{
			font-size: 40px;
			line-height: 40px;
		}
		&.bottom{
			position: relative;
			font-size: 20px;
			a{
				color:white;
				cursor: pointer;
			}
			&:last-child{
				&:after{
					content: "";
					display: block;
					position: absolute;
					height: 3px;
					width: 50px;
					bottom: 15px;
					left: 20px;
					background:$colorSecundario;
				}
			}
		}
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: 15px;
		right: 15px;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent $colorSecundario transparent;
		border-width: 0 0 30px 30px;
		@media only screen and (min-width: 768px){
			bottom: 30px;
			right: 30px;
			border-width: 0 0 80px 80px;
		}
	}
}